.sidebar {
  .text {
    color: var(--text-color);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
  }

  .icon {
    color: var(--text-color);
    transition: var(--tran-03);
  }

  .menu-bar {
    li {
      margin-top: 0.7rem;
      display: flex;
      align-items: center;
      transition: var(--tran-05);
      cursor: pointer;

      a {
        width: 100%;
        padding: 0.7rem 1.2rem;
        display: flex;
        align-items: center;
      }

      .menu-game-icon,
      .icon {
        font-size: 2.2rem;
        margin-right: 1.3rem;
        display: flex;
      }

      &:not(.mode):hover {
        background: var(--primary-color);

        .text,
        .icon {
          color: var(--menu-text-color);
        }
      }
    }
  }
}
